.App-header {
    background-color: #282c34;
    color: white;
    height: 50px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    height: 50px;
    float: left;
}

.App-title {
    float: left;
    /*An element's padding is the space between its content and its border.*/
    /*The padding-top property sets the top padding (space) of an element.*/
    padding-top: 15px;
    font-weight: bold;
    font-size: 17px;
    color: #61dafb;
}

.logout {
    float: right;
    padding-top: 13px;
    padding-right: 13px;
}

/*Using media queries are a popular technique for delivering
a tailored style sheet (responsive web design) to desktops,
laptops, tablets, and mobile phones.*/
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 10s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
